@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*model IEnumerable<Greenhouse.Models.Plan>*@
@using Greenhouse.Models.Plan;
@using System.Collections.Generic;
@model List<Plan>

@{
  ViewBag.Title = "Plans - Greenhouse-systems";
  ViewBag.MenuItem = "Plans";
  Layout = "_Layout";

  @section Scripts {
    <script type="text/javascript" src="/js/slip.js"></script>
    <script type="text/javascript" src="/js/plans_status.js"></script>
  };
}


<h1>Plans <span class="oi oi-plus oi--plan" title="plus" aria-hidden="true" id="add-plan"></span></h1>


@foreach (var plan in @Model) {
<div class="plan" id="plan-@plan.ID" >
  <h2>
		<input type="text" class="plan-name" value="@plan.ID. @plan.Name" disabled>
		<span style="display:none"></span>
    <span class="oi oi-pencil oi--plan" title="pencil" aria-hidden="true" data-plan-id="@plan.ID"></span>
    <span class="oi oi-trash oi--plan" title="trash" aria-hidden="true" data-plan-id="@plan.ID"></span>
  </h2>
  <div class="row">
    <div class="col-xl-8">
      <table class="table table-responsive table-striped plan">
        <thead>
          <tr>
            <th scope="col">Parameters</th>
				    <th scope="col">Duration (hours):</th>


						@foreach (var param in plan.Periods.First().Params.ToDict()){
			        <th scope="col">@param.Key:</th>
			      }

						
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody id="tbody-@plan.ID">
			    @foreach (var period in plan.Periods) {
			      Dictionary<string, double> parameters = period.Params.ToDict();
            <tr class="draggable demo-no-swipe">
              <th scope="row">@period.Name</th>
				      <td>@period.Duration</td>
				      @foreach (var p in parameters) {      
                <td>@p.Value</td>
              }
              <td><span class="oi oi-pencil" title="pencil" aria-hidden="true" data-action="edit-period" data-plan-id="@plan.ID" data-period-id="@period.ID"></span></td>
              <td><span class="oi oi-trash" title="trash" aria-hidden="true" data-action="del-period" data-plan-id="@plan.ID" data-period-id="@period.ID"></span></td>
            </tr>
			    }
        </tbody>
      </table>
		
	    <div class="btn-add-period">
				<button type="button" class="btn btn-success add-per-btn" plan-id="@plan.ID" style="width: 100%">Add period</button>
      </div>
    </div>
    <div class="col-xl-4"><img class="img-fluid img-plan" src="/img/Charts/chart1.png"></div>
  </div>
</div>
}


<div class="plan" id="plan-sample" style="display: none">
  <h2>
    <input type="text" class="plan-name" value="" disabled>
    <span style="display:none"></span>
    <span class="oi oi-pencil oi--plan" title="pencil" aria-hidden="true" data-plan-id=""></span>
    <span class="oi oi-trash oi--plan" title="trash" aria-hidden="true" data-plan-id=""></span>
  </h2>
  <div class="row">
    <div class="col-xl-8">
      <table class="table table-responsive table-striped plan">
        <thead>
          <tr>
            <th scope="col">Parameters</th>
            <th scope="col">Duration (hours):</th>
            <th scope="col">Air temperature:</th>
            <th scope="col">Water temperature:</th>
            <th scope="col">PH:</th>
            <th scope="col">Humidity:</th>
            <th scope="col">Lighting:</th>
            <th scope="col">Fertilizer:</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody id="">
            <tr class="draggable demo-no-swipe">
              <th scope="row">none</th>
              <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
                <td>none</td>
              <td><span class="oi oi-pencil" title="pencil" aria-hidden="true" data-action="edit-period" data-plan-id="" data-period-id=""></span></td>
              <td><span class="oi oi-trash" title="trash" aria-hidden="true" data-action="del-period" data-plan-id="" data-period-id=""></span></td>
            </tr>
        </tbody>
      </table>
    
      <div class="btn-add-period">
        <button type="button" class="btn btn-success add-per-btn" plan-id="" style="width: 100%">Add period</button>
      </div>
    </div>
    <div class="col-xl-4"><img class="img-fluid img-plan" src="/img/Charts/chart1.png"></div>
  </div>
</div>