@{
  var controller = ViewContext.RouteData.Values["Controller"];
  var action = ViewContext.RouteData.Values["Action"];
}

<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.css">
    @RenderSection("styles", required: false)

    
  	<title>@ViewBag.Title</title>

    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark--green">
        <a class="navbar-brand" href="/">Greenhouse Systems(tm)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="Home-Index">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" id="Status-Index">
              <a class="nav-link" href="/Status/">Status</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                History
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="../spectrate/plots.html">Plots</a>
                <a class="dropdown-item" href="../spectrate/log.html">Log</a>
              </div>
            </li>
            <li class="nav-item" id="Plans-Status">
              <a class='nav-link' href="/Plans/Status">Plans</a>
            </li>
            <li class="nav-item" id="Equipment-Index">
              <a class="nav-link" href="/Equipment/">Equipment</a>
            </li>

            <li class="nav-item" id="Status-Debug">
              <a class="nav-link" href="/Status/Debug">Debug</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </head>
  	
  <body>
    <div class="container-fluid" id="page-container">
      @RenderBody()
    </div>
  </body>

<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
	<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
  <script src="/js/jquery-3.2.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  @RenderSection("scripts", required: false)
	

  <script>
    $("li#@(ViewContext.RouteData.Values["Controller"])-@(ViewContext.RouteData.Values["Action"])").addClass("active");
		console.log("@(ViewContext.RouteData.Values["Controller"])");
  </script>
</html>


